{% extends 'base.html.twig' %}

{% block title %}Estado{% endblock %}

{% block body %}
    <h1>Estado</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ estado.id }}</td>
            </tr>
            <tr>
                <th>Idestado</th>
                <td>{{ estado.idestado }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ estado.estado }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('estado_index') }}">back to list</a>

    <a href="{{ path('estado_edit', {'id': estado.id}) }}">edit</a>

    {{ include('estado/_delete_form.html.twig') }}
{% endblock %}
