<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Info-q{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('fonts/icomoon/style.css')}}">

            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}">
            <link rel="stylesheet" href="{{ asset('css/jquery-ui.css')}}">
            <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css')}}">
            <link rel="stylesheet" href="{{ asset('css/owl.theme.default.min.css')}}">
            <link rel="stylesheet" href="{{ asset('css/owl.theme.default.min.css')}}">

            <link rel="stylesheet" href="{{ asset('css/jquery.fancybox.min.css')}}">

            <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker.css')}}">

            <link rel="stylesheet" href="{{ asset('fonts/flaticon/font/flaticon.css')}}">

            <link rel="stylesheet" href="{{ asset('css/aos.css')}}">

            <link rel="stylesheet" href="{{ asset('css/style.css')}}">
        {% endblock %}
    </head>
    <body>
    <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="site-logo mr-auto w-25"><a href="{{ path('homepage') }}" >
                <img src="{{ asset('images/info-q.png') }}" width="100" height="100" class="d-inline-block align-top" alt="Logo"></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mx-auto text-center" style="size: A3">


                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('homepage') }}">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('routebus_index') }}">rutas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('stationbus_index') }}">estaciones</a>
                <!--/*</li><li class="nav-item">
                    <a class="nav-link" href="{{ path('contactbus_index') }}">contactos</a>
                </li>*/-->
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('aboutbus_index') }}">sobre nosotros</a>
                </li>

            </div>
            <div class="ml-auto">


                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('fos_user_security_login') }}">
                                    <button type="button" class="btn btn-primary">
                                        {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</button>

                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('fos_user_registration_register') }}">
                                    <button type="button" class="btn btn-success">
                                        {{ 'layout.register'|trans({}, 'FOSUserBundle') }}
                                    </button>

                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                                <a class="nav-link" href="{{ path('fos_user_profile_show') }}">
                                    <img src="{{ asset('images/usuarios.png') }}">
                                    {{ 'profile.show.view'|trans({}, 'FOSUserBundle') }}
                                </a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Dropdown
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{ path('city_index') }}">Ciudad</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('fos_user_security_logout') }}">
                                    <button type="button" class="btn btn-primary">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</button>
                                </a>
                            </li>
                        {% endif %}
                    </ul>

                </div>
            </div>
        </div>
    </nav>
    </div>

    <div class="container-fluid">
        {% block body %}{% endblock %}
    </div>



    <footer class="bg-dark" role="contentinfo">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <p class="pb_font-14">&copy; 2019. All Rights Reserved. <br>  <a href="">Info-Q</a> by grupo 1 -ambientes</p>

                </div>
            </div>
        </div>
    </footer>






            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    {% block javascripts %}{% endblock %}
    </body>
</html>
