{% extends 'base.html.twig' %}

{% block title %}Queja index{% endblock %}

{% block body %}
    <h1>Queja index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Descripcion</th>
                <th>Fechahora</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for queja in quejas %}
            <tr>
                <td>{{ queja.id }}</td>
                <td>{{ queja.tipo }}</td>
                <td>{{ queja.descripcion }}</td>
                <td>{{ queja.fechahora ? queja.fechahora|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('queja_show', {'id': queja.id}) }}">show</a>
                    <a href="{{ path('queja_edit', {'id': queja.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('queja_new') }}">Create new</a>
{% endblock %}
