{% extends 'base.html.twig' %}

{% block title %}Queja{% endblock %}

{% block body %}
    <h1>Queja</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ queja.id }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ queja.tipo }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ queja.descripcion }}</td>
            </tr>
            <tr>
                <th>Fechahora</th>
                <td>{{ queja.fechahora ? queja.fechahora|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('queja_index') }}">back to list</a>

    <a href="{{ path('queja_edit', {'id': queja.id}) }}">edit</a>

    {{ include('queja/_delete_form.html.twig') }}
{% endblock %}
