{% extends 'base.html.twig' %}

{% block title %}Unidad index{% endblock %}

{% block body %}
    <h1>Unidad index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NumeroU</th>
                <th>Tipo</th>
                <th>Ruta</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for unidad in unidads %}
            <tr>
                <td>{{ unidad.id }}</td>
                <td>{{ unidad.numeroU }}</td>
                <td>{{ unidad.tipo }}</td>
                <td>{{ unidad.ruta }}</td>
                <td>
                    <a href="{{ path('unidad_show', {'id': unidad.id}) }}">show</a>
                    <a href="{{ path('unidad_edit', {'id': unidad.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('unidad_new') }}">Create new</a>
{% endblock %}
