{% extends 'base.html.twig' %}

{% block title %}Estacion index{% endblock %}

{% block body %}
    <h1>Estacion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Imagen</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for estacion in estacions %}
            <tr>
                <td>{{ estacion.id }}</td>
                <td>{{ estacion.nombre }}</td>
                <td>{{ estacion.direccion }}</td>
                <td>{{ estacion.imagen }}</td>
                <td>
                    <a href="{{ path('estacion_show', {'id': estacion.id}) }}">show</a>
                    <a href="{{ path('estacion_edit', {'id': estacion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('estacion_new') }}">Create new</a>
{% endblock %}
